.app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("https://s3.ap-south-1.amazonaws.com/vmedulife-s3/logo/12-09-2021-BANNER-77-1631415861.jpeg");
  background-size: cover;
  margin: 0; 
  /* background-position: center; */
  
}